<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Weather App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href='{% static 'favicon.ico' %}' rel='icon'>
</head>
<body>
	<div class='header-box'>
		<div class='head-div'>
			<h2>Check the weather for your city</h2>
			<form method="POST">
				{% csrf_token %}
					{{ form.name }}
			<button>Check City</button><br><br>
			</form>
		</div>
	</div>
	<div>
		<div class=form-div>

		</div>
			<div class='container-fluid weather-data'>
				<table>
					{% for weather in weather_data %}

					<tr>

					<td>
						<span> <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image"></span>
					</td>
					<td>
						<span>{{ weather.city }}</span><br>
						<span>{{ weather.temperature }}°C</span><br>
						<small>{{ weather.description }}</small><br>
					</td>

					</tr>
					{% endfor %}

				</table>
				</div>
			</div>
	</body>
	</html>
